.Services {
    padding: 20rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

.Heading {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 5rem;
    opacity: 0;
    color: #383031;
}

.Spacer {
    border-bottom: 3px solid #f3de58;
    width: 10rem;
    margin-bottom: 10rem;
    opacity: 1;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9rem;
    justify-content: center;
}

@media (max-width: 900px) {
    .Heading {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .Heading {
        font-size: 2.4rem;
    }
    .Services {
        padding: 10rem .5rem 5rem .5rem;
    }
}