.Card {
    opacity: 1;
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.Card:not(:last-child) {
    margin-right: 4rem;
}

.Title {
    font-size: 2rem;
    color: #22888b;
    text-align: center;
}

.Card i {
    font-size: 5rem;
    padding: 2rem;
    color: #383031;
    text-align: center;
}

.Para {
    font-size: 1.4rem;
    line-height: 2.3rem;
}