.ServiceInfo {
    background-image: linear-gradient(rgba(0, 255, 251, 0.2), rgba(47, 47, 47, .5)), url("../../../assets/images/servicesBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 15rem 2rem;
    color: #ebebeb;
    text-align: center;
}

.Title {
    font-size: 3rem;
    letter-spacing: .1rem;
    opacity: 0;
}

.Spacer {
    border-bottom: solid 3px #f3de58;
    width: 10rem;
    margin: 5rem auto;
}

.Boxes {
    display: flex;
    justify-content: space-evenly;
}

.Boxes h3 {
    color: #22888b;
    font-size: 3rem;
    padding: 1rem 0 3rem 0;
    border-bottom: 4px double rgb(48, 48, 48);
}

.Code, .Fees {
    background-color: #ebebeb;
    padding: 3rem 5rem;
    border-radius: 2px;
    width: 40%;
    box-shadow: 0 .2rem .8rem rgba(48, 48, 48, 0.5);
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.Fees {
    height: fit-content;
}

.List, .Rates {
    color: rgb(48, 48, 48);
    text-align: left;
    font-size: 1.6rem;
}

.Rates {
    font-size: 2rem;
}

.List li {
    padding: 1rem 0;
}

.Rates li {
    padding: 2rem 0;
    margin-left: 3rem;
}

.Para {
    color: #22888b;
    font-size: 1.4rem;
    padding-top: 10rem;
}

@media(max-width: 500px) {
    .Title {
        font-size: 2rem;
    }
    .Boxes {
        flex-wrap: wrap;
    }
    .Code, .Fees {
        margin-bottom: 2rem;
        width: 100%;
    }
}