.FadeIn {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.DelayFade {
    opacity: 0;
    animation: delayFade 1.5s ease 1s forwards;
}

.NavFader {
    opacity: 0;
    transform: translateY(-20rem);
    animation: navFader 1.5s ease 1.75s forwards;
}

.FadeInDown {
    opacity: 0;
    transform: translateY(-20rem);
    animation: fadeInDown 1s ease .7s forwards;
}

.FadeInUp {
    opacity: 0;
    transform: translateY(20rem);
    animation: fadeInUp 1s ease .7s forwards;
}

.FadeInLeft {
    opacity: 0;
    transform: translateX(-20rem);
    animation: fadeInLeft 1.5s ease .7s forwards;
}

.FadeInRight {
    opacity: 0;
    transform: translateX(20rem);
    animation: fadeInRight 1.5s ease .7s forwards;
}

.BtnShake {
    transform: translateX(-50%);
    animation: shake .5s linear .2s;
}

.SlideInLeft {
    transform: translateX(-100rem);
    animation: slideInLeft 1.5s ease .7s forwards;
}

@keyframes shake {
    0% {
        transform: translateX(-50%)
    }
    25% {
        transform: translateX(-55%)
    }
    50% {
        transform: translateX(-45%)
    }
    75% {
        transform: translateX(-55%)
    }
    100% {
        transform: translateX(-50%)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes delayFade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes navFader {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100rem);
    }
    100% {
        transform: translateX(0rem);
    }
}