.AboutComp {
    background-color: #383836;
    padding-bottom: 15rem;
    display: flex;
    justify-content: space-evenly;
}

.Left, .Right {
    width: 40%;
}

.Card {
    padding: 2rem 5rem;
    background-image: linear-gradient(to bottom right, #ebebeb, #68c7c6);
    border-radius: 4px;
    border: 2px solid #22888b;
    height: fit-content;
    margin-bottom: 4rem;
    opacity: 0;
}

.Names {
    background-image: linear-gradient(to right, rgba(235, 235, 235, 0.7), rgba(104, 199, 198, 0.95) 80%), url("../../assets/images/names.jpg");
    background-size: cover;
}

.Names li {
    color: #f3de58;
    font-weight: bold;
}

.NameTitle {
    font-size: 2.4rem;
    color: #22888b;
}

.NameList {
    list-style: none;
    padding: 1rem;
    text-align: right;
}

.Associations {
    list-style: none;
    padding: 1rem;
}

.NameList li, .Para, .Associations li {
    font-size: 1.8rem;
    padding: 1rem 0;
}

.Para {
    line-height: 2.6rem;
}

.Link {
    color: #22888b;
}

.Link:hover {
    color: #68c7c6;
}

.Associations li span {
    font-weight: bold;
}

.Proverb {
    opacity: 0;
}

.BibleVerse {
    padding: 10rem 1rem 1rem 1rem;
    color: #f3de58;
    font-size: 1.8rem;
}

.Prov {
    color: #ebebeb;
    font-size: 1.4rem;
    text-align: right;
}

@media (max-width: 900px) {
    .Card {
        padding: 1rem 2rem;
    }
    .NameList li, .Para, .Associations li {
        font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    .AboutComp {
        align-items: center;
        flex-flow: column;
    }
    .Left, .Right {
        width: 90%;
    }
}