.Contact {
    color: #383836;
}

.Header {
    background-image: linear-gradient(rgba(48, 48, 48, 0.6), rgba(48, 48, 48, 0.6)), url("../../assets/images/family_coaching_solutions.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header h1 {
    font-size: 4.3rem;
    letter-spacing: .8rem;
    color: #ebebeb;
    margin-bottom: 50px;
}

.Header p {
    font-size: 2rem;
    font-weight: 200;
    width: 700px;
    color: #ebebeb;
    line-height: 3.3rem;
}

.Main {
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8rem;
    justify-content: center;
}

.Left, .Right {
    width: 35%;
    padding: 4rem;
}

.Left h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 400;
}

.Left h2 {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    font-weight: 600;
    color: #f3de58;
    text-shadow: 0rem 0rem .3rem #383836;
}

.Left p {
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.BottomPara {
    padding-bottom: 7rem !important;
}

.Left h6 {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    color: #22888b;
}

.Left form {
    display: flex;
    flex-flow: column;
}

.Left input, .Left textarea, .SubmitBtn {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(48, 48, 48, 0.6);
    margin: 0 0 1rem 0;
    outline: none;
    font: inherit;
    font-size: 1.6rem;
}

.SubmitBtn {
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
    background-color: #68c7c6;
    transition: all 250ms ease;
}

.SubmitBtn:hover {
    background-color: #22888b;
}

.Right {
    width: 35%;
    border-left: 1px solid rgb(199, 199, 199);
}

.Social {
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.Social a {
    text-decoration: none;
    font: inherit;
    color: #22888b;
    padding: 1rem 0;
    transition: all 250ms ease;
}

.Social a:hover {
    color: #68c7c6;
}

.Office {
    padding: 4rem 0;
    color: #383836;
}

.Office h4 {
    font-size: 1.8rem;
    border-bottom: 4px double #383836;
    margin-bottom: 2rem;
    width: fit-content;
}

.Office p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.End {
    height: 50rem;
    background-image: linear-gradient(#22878b60, #22878b54), url("../../assets/images/family_counseling.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #22888b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.End p {
    font-size: 3rem;
    text-align: center;
    color: #f3de58;
    width: 80%;
}

@media only screen and (max-width: 1200px) {
    .Left, .Right {
        width: 45%;
        padding: 3rem;
    }
    .End p {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 705px) {
    .Header h1 {
        font-size: 3.3rem;
    }
    .Header p {
        font-size: 1.7rem;
        line-height: 2.5rem;
        width: 450px;
    }
    .End p {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .Header h1 {
        font-size: 3rem;
    }
    .Header p {
        font-size: 1.5rem;
        line-height: 2.4rem;
        width: 300px;
    }
    .Left, .Right {
        width: 100%;
        padding: 5rem;
    }
    .Left h1 {
        font-size: 2.4rem;
    }
    .End p {
        width: 90%;
    }
}